// layout
$width-min: 20em;
$width-max: 75em;
$width-max-content: 42.5em;

// font related
$typeface: "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, Arial, sans-serif;
$font-size-base-min: 0.9375rem;
$font-size-base-max: 1.0625rem;

// colors
$color-body-text: #444;
$color-link: darkcyan;
$color-link-hover: mediumturquoise;
$color-link-visited: darkblue;