*,
::before,
::after {
  box-sizing: content-box;
}

html {
  cursor: default;
  font-size: 16px;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, Arial, sans-serif;
  color: #444;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2rem;
  margin: 1em 0 0.5em;
  line-height: 1.4;
}
@media (min-width: 20em) {
  h1 {
    font-size: calc(2rem + 0.625 * (100vw - 20em) / 55);
  }
}
@media (min-width: 75em) {
  h1 {
    font-size: 2.625rem;
  }
}

h2 {
  font-size: 1.764705882rem;
  margin: 1.3125em 0 0.65625em;
  line-height: 1.5;
}
@media (min-width: 20em) {
  h2 {
    font-size: calc(1.764705882rem + 0.235294118 * (100vw - 20em) / 55);
  }
}
@media (min-width: 75em) {
  h2 {
    font-size: 2rem;
  }
}
h1 + h2 {
  margin: 0.65625em 0;
}

h3 {
  font-size: 1.625rem;
  font-size: 1.433823529rem;
  margin: 1.615384616em 0 0.807692308em;
  line-height: 1.6;
}
@media (min-width: 20em) {
  h3 {
    font-size: calc(1.433823529rem + 0.191176471 * (100vw - 20em) / 55);
  }
}
@media (min-width: 75em) {
  h3 {
    font-size: 1.625rem;
  }
}
h2 + h3 {
  margin: 0.807692308em 0;
}

h4 {
  font-size: 0.992647059rem;
  margin: 2.333333334em 0 1.166666667em;
  line-height: 2;
}
@media (min-width: 20em) {
  h4 {
    font-size: calc(0.992647059rem + 0.132352941 * (100vw - 20em) / 55);
  }
}
@media (min-width: 75em) {
  h4 {
    font-size: 1.125rem;
  }
}
h3 + h4 {
  margin: 1.166666667em 0;
}

blockquote {
  margin: 2.6em 0;
  padding: 2.2em;
  background: #eee;
}
blockquote > :first-child {
  margin-top: 0;
}
blockquote > :last-child {
  margin-bottom: 0;
}

dl {
  font-size: 0.9375rem;
  margin: 1.8em 0;
  line-height: 1.7;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 20em) {
  dl {
    font-size: calc(0.9375rem + 0.125 * (100vw - 20em) / 55);
  }
}
@media (min-width: 75em) {
  dl {
    font-size: 1.0625rem;
  }
}
dl > :last-child {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
  margin: 0 0 1em;
  flex: 1 1 24%;
}
dt:last-of-type {
  margin: 0;
}

dd {
  margin: 0 0 1em 2em;
  flex: 1 1 calc(76% - 2em);
}

figure {
  margin: 1.8em 0;
}

hr {
  margin: 3.75rem 0;
  padding: 0;
  border: 1px dashed #ddd;
}

p {
  font-size: 0.9375rem;
  margin: 1em 0;
  line-height: 2.1;
}
@media (min-width: 20em) {
  p {
    font-size: calc(0.9375rem + 0.125 * (100vw - 20em) / 55);
  }
}
@media (min-width: 75em) {
  p {
    font-size: 1.0625rem;
  }
}

pre {
  font-family: monospace, monospace;
  font-size: 0.9375rem;
  margin: 1em 0;
  line-height: 2;
}
@media (min-width: 20em) {
  pre {
    font-size: calc(0.9375rem + 0.125 * (100vw - 20em) / 55);
  }
}
@media (min-width: 75em) {
  pre {
    font-size: 1.0625rem;
  }
}

ul, ol {
  font-size: 0.9375rem;
  margin: 1.6em 0;
  line-height: 1.7;
}
@media (min-width: 20em) {
  ul, ol {
    font-size: calc(0.9375rem + 0.125 * (100vw - 20em) / 55);
  }
}
@media (min-width: 75em) {
  ul, ol {
    font-size: 1.0625rem;
  }
}
ul ul, ul ol, ol ul, ol ol {
  margin: 1em 0 1.4em;
}
ul ul, ol ul {
  padding: 0 0 0 1.4em;
}
ul ol, ol ol {
  padding: 0 0 0 1.6em;
}

ul {
  padding: 0 0 0 2.1em;
}
ul li {
  padding: 0 0 0 0.2em;
}

li {
  margin: 0 0 0.8em;
}

a {
  background-color: transparent;
  color: darkcyan;
}
a:hover {
  color: mediumturquoise;
}
a:visited {
  color: darkblue;
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: 800;
}

cite {
  font-style: normal;
}

code {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9375rem;
  background: #555;
  color: #eee;
  padding: 0.3rem 0.5rem;
  margin: 0 0.2rem;
  border-radius: 6px;
}
@media (min-width: 20em) {
  code {
    font-size: calc(0.9375rem + 0.125 * (100vw - 20em) / 55);
  }
}
@media (min-width: 75em) {
  code {
    font-size: 1.0625rem;
  }
}

small {
  font-size: 80%;
}

img {
  width: 100%;
  height: auto;
  margin: 1em 0;
}

table {
  border-collapse: collapse;
  font-size: 0.9375rem;
  margin: 1em 0;
  line-height: 2;
  width: 100%;
  border-left: solid 1px #aaa;
  border-top: solid 1px #aaa;
}
@media (min-width: 20em) {
  table {
    font-size: calc(0.9375rem + 0.125 * (100vw - 20em) / 55);
  }
}
@media (min-width: 75em) {
  table {
    font-size: 1.0625rem;
  }
}

th, td {
  border-right: solid 1px #aaa;
  border-bottom: solid 1px #aaa;
  padding: 0.625rem;
  vertical-align: top;
}
th *:last-child, td *:last-child {
  margin-bottom: 0;
}

th,
thead td {
  text-align: left;
  background: #333;
  color: #fff;
}

td {
  background: #fff;
}

tfoot td,
tfoot th {
  background: #eee;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */
